#!/bin/sh

# LUIS (https://www.luis.ai/ ) app credentials
export LUIS_APP_ID=
export LUIS_APP_SUBSCRIPTION_KEY=

# Wit app credentials
export WIT_APP_ID=
export WIT_SERVER_TOKEN=

# Facebook messenger bot and page tokens
export FB_CALLBACK_PATH=
export FB_VERIFY_TOKEN=
export FB_PAGE_ACCESS_TOKEN=



echo "Env vars updated"
